article#biography.card.mx-auto.my-4(v-show="tab==='biography'")
    .card-body
        h1.card-title 経歴
        h4.card-subtitle 1996年
        ul
            li 誕生

        h4.card-subtitle 2012年
        ul
            li 大阪府立三国丘高等学校 入学
            li コンピューター部に入部
            li このとき初めてプログラミングに触れる
            li 使用言語は HSP
            li 主にゲーム作りを楽しむ

        h4.card-subtitle 2015年
        ul
            li 大阪府立三国丘高等学校 卒業
            li 京都大学 工学部 電気電子工学科 入学
            li 情報学科に入りたかったが 入試の点数が足りず第二志望に回し合格
            li PC を Mac に乗り換えたことにより HSP が使えなくなる

        h4.card-subtitle 2016年
        ul
            li 3回生からの情報学科への転学科を試みるも失敗
            li 授業で一応データ構造とアルゴリズムなどを学ぶ
            li C言語での数値計算や電磁界シミュレーションなどを学ぶ

        h4.card-subtitle 2017年
        ul
            li 研究室配属で情報系の研究室を志望するも これまでの成績が悪くゴリゴリ電子系研究室に配属される
            li 研究内容は 回路レベルでの制御によるレーザー周波数の安定度の向上について

        h4.card-subtitle 2018年
        ul
            li Python と出会う
            li プログラミングの世界が広がる
            li ここで本格的なプログラミング開発を始める
            li 主に自分用に PC で使えるツール作りに勤しむ
            li その後 Web プログラミングに入門し HTML/CSS/JavaScript を学び始める
            li エンジニア学生団体 Tech Garage に誘ってもらい 参加

        h4.card-subtitle 2019年
        ul
            li N高等学校でプログラミングのTAを始める
            li 京都大学 卒業
            li 京都大学 大学院 工学研究科 入学
            li プログラミングコンテスト AtCoder をはじめ ハマる
            li 現在 レーティングは 1000 に到達 (緑)
            li Hack U 2019 OSAKA 出場

        h4.card-subtitle 2020年
        ul
            li 静的型付けのコンパイル言語に興味を持ち Go Rust などを学び始める
