article#home.card.mx-auto.my-4(v-show="tab==='home'")
    .card-body
        h1.card-title 湯川 慎之介

        p.card-text
            | 京都大学 大学院 工学研究科 電子工学専攻 修士課程 2年
            br
            | 大阪府在住
            br
            | プログラミング大好きマン
            br
            | アコースティックギター

    .card-body
        h4 Links
        table
            tr
                td ・E-mail：
                td 39yatabis.work@gmail.com
            tr
                td ・Twitter：
                td: a(href="https://twitter.com/yatabis_tg") @yatabis_tg
            tr
                td ・Facebook：
                td: a(href="https://www.facebook.com/shinnosuke.yukawa") 湯川慎之介
            tr
                td ・GitHub：
                td: a(href="https://github.com/yatabis") yatabis (八咫烏)
            tr
                td ・Qiita：
                td: a(href="https://qiita.com/39yatabis") @39yatabis
            tr
                td ・AtCoder：
                td: a(href="https://atcoder.jp/users/yatabis") yatabis

    .card-body
        h4 Note
        ul
            li このサイトは Pug, Sass, Vue.js, Bootstrap を用いて製作されました。
            li レスポンシブ未対応です。ある程度横幅のあるデバイスでご覧ください。
