article#home.card.mx-auto.my-4(v-show="tab==='home'")
    .card-body
        h1.card-title 湯川 慎之介
        p
            img.mx-1(:alt="'last update ' + updated_at" :src="updated_badge")
            img.mx-1(alt="lang=ja" src="https://img.shields.io/badge/lang-ja-brightgreen")
            img.mx-1(:alt="'AtCoder rating ' + rating" :src="rating_badge")
            a(href="https://twitter.com/intent/follow?screen_name=yatabis_tg" target="_blank" rel="noopener noreferrer")
                img.mx-1(alt="Twitter Follow" src="https://img.shields.io/twitter/follow/yatabis_tg?label=Follow&style=social")

        p.card-text
            | 京都大学 大学院 工学研究科 電子工学専攻 修士
            br
            | 東京都在住
            br
            | ソフトウェアエンジニア
            br
            | アコースティックギター

    .card-body
        h4 Links
        table
            tr
                td ・E-mail：
                td: a(:href="'mailto: ' + email") {{ email }}
            tr
                td ・Twitter：
                td: a(href="https://twitter.com/yatabis_tg") @yatabis_tg
            tr
                td ・Facebook：
                td: a(href="https://www.facebook.com/shinnosuke.yukawa") 湯川慎之介
            tr
                td ・GitHub：
                td: a(href="https://github.com/yatabis") yukawa @yatabis
            tr
                td ・Qiita：
                td: a(href="https://qiita.com/39yatabis") @39yatabis
            tr
                td ・AtCoder：
                td: a(href="https://atcoder.jp/users/yatabis") yatabis

    .card-body
        h4 Note
        ul
            li このサイトは Pug, Sass, Vue.js, Bootstrap を用いて製作されました。
            li レスポンシブ未対応です。ある程度横幅のあるデバイスでご覧ください。
